:root{
--regular-text-color: #797979;
--title-color: #202124;
--page-font: 'Inter', sans-serif;
--regular-text-size: 16px;
--classic-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 51.1542px 51.419px rgba(0, 0, 0, 0.0182814), 0px 31.2614px 32.7222px rgba(0, 0, 0, 0.0145485), 0px 19.7px 20.341px rgba(0, 0, 0, 0.0131802), 0px 12.1574px 11.8781px rgba(0, 0, 0, 0.012699), 0px 6.89112px 6.09643px rgba(0, 0, 0, 0.0121579), 0px 3.01109px 2.28593px rgba(0, 0, 0, 0.0102347);
--icon-gradient: linear-gradient(90deg, #9ED2FF 0%, #FDA9E7 101.17%),
    #C4C4C4;
}

.card {
height: 699px;
width: 468px;
display: flex;
flex-direction: column;
border-radius: 32px;
background: #ffff;
margin: 40px 0 40px 0;
box-shadow: var(--classic-shadow);
font-family: var(--page-font);
}

.body {  
display: flex;
align-items: center;
justify-content: center;
background: #ffff;
margin: 0;
padding: 0;
}

.card-header{
display: flex;
flex-direction: column;
align-items: center;
width: 468px;
height: 259px;
border-radius: 34px 34px 0 0;
background: conic-gradient(from 172.44deg at 107.61% 54.63%, rgba(254, 170, 228, 0) 0deg, #F6DFD8 18.03deg, rgba(254, 170, 229, 0) 104.03deg, rgba(254, 170, 228, 0) 360deg), radial-gradient(38.17% 86.77% at 10.46% 79.54%, #FFEEC3 0%, rgba(255, 238, 195, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , radial-gradient(61.14% 73.94% at 44.57% -39.19%, #9ED2FF 0%, rgba(158, 210, 255, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #FFFFFF;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
    width: 304px;
    height: 219px;
    margin: 0;
}

.avatar{
    width: 71px;
    height: 74px;
    border-radius: 4px;
}

h1 {
    height: 29px;
    width: 256px;
    top: 0px;
    text-align: center;
    padding: 0;
    margin: 8px;
    color: var(--title-color);
    font-family: var(--page-font);
}

.profession {
    padding: 0;
    margin: 8px;
    align-content: center;
    color: var(--regular-text-color);
    font-family: var(--page-font);
    font-size: var(--regular-text-size);

}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    height: 40px;
    color: var(--regular-text-color);
    font-family: var(--page-font);
    font-size: var(--regular-text-size);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start:0;
}
.about-a, .bio-a, .contact-a {
color: var(--regular-text-color);
text-decoration: none;
justify-content: center;
padding-top: 7px;
}

.tab-about, .tab-bio, .tab-contact {  
display: flex; 
flex-direction: column;
align-items: center;
height: 37px;
padding: 8px 8px 0 8px;
border-radius: 8px 8px 0px 0px;
}

.card-content {
width: 68px;
height: 440px;
display: flex;
justify-content: center;
margin: 0;
padding: 0;
align-items: center;
}

.card-content-box{
    width: 468px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 32px 0 0 0;
}
.first-fact, 
.second-fact,
.third-fact, 
.fourth-fact {
width: 304px;
display: flex;
flex-direction: column;
flex-grow: 1;
align-items: flex-start;
height: 45px;
}

.fact-content, .bio-story {
    padding: 0;
    margin: 0;
    font-family: var(--page-font);
    font-size: var(--regular-text-size);
    color: var(--regular-text-color);
}

h3 {
    padding: 0px 0 4px 0;
    margin: 0;
    font-family: var(--page-font);
    font-size: var(--regular-text-size);
    color: var(--title-color);
}

.fourth-fact { 
    padding: 0;
}

.active {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.bio-body {
    height: 440px;
    width: 468px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bio-content {
    padding-top: 32px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 304px;
    height: 221px;
}

body {
    margin: 0;
}

.bio-story {
    padding-top: 8px;
}

.gg-mail, 
.gg-instagram, 
.gg-twitter {
color: #FDA9E7;
width: 20px;
height: 20px
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--page-font);
    font-size: var(--regular-text-size);
    color: var(--regular-text-color);
    height: 440px;
    width: 468px;
    justify-content: flex-start;
    padding: 32px 0 0 80px;
}
.contact-list{
    list-style: none;
    padding: 0;
    margin: 0;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}


.contact-link :hover {
color: #9ED2FF;
text-decoration: underline;
}

.contact-link :visited, .contact-link {
text-decoration: none;
color: var(--regular-text-color);
padding-right: 8px;
}

.email, .twitter, .instagram {
    display: flex;
   padding-top: 8px;
}